# ----------------------------------------------------
# 仮想環境とPython生成ファイル
# ----------------------------------------------------
.venv/
__pycache__/
*.pyc

# ----------------------------------------------------
# 機械学習モデルと大容量データ
# ----------------------------------------------------
# モデルの重みファイル
*.pt
*.pth
*.h5

# モデルとログを保存するディレクトリ
checkpoints/

.vscode/